   /* Add your custom styles here */
        body {
            background-color: #f4f4f4;
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
        .expense-form {
            text-align: center;
        }
        .expense-list {
            margin-top: 20px;
        }
        .list-group-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .list-group-item strong {
            flex-grow: 1;
            margin-right: 10px;
        }
 .list-group-item span{
            flex-grow: 3;
        }
        .edit-btn, .delete-btn {
            padding: 5px 10px;
            font-size: 16px;
        }